<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="users" routerLinkActive="active" class="nav-link" >Home</a>
          </li>
        <li class="nav-item active">
          <a routerLink="registeruser" routerLinkActive="active" class="nav-link" >New Register </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Sort</a>
          </li>
    </ul>
   
    
  </nav>

<h1 class="text-center">{{title}}</h1>
<div class="container">
    
<router-outlet></router-outlet>
<div class="row height d-flex justify-content-center align-items-center">
  <div class="col-sm-4">
      <div class="search"> <i class="fa fa-search"></i> <input type="text" routerLink="viewuser" routerLinkActive="active" class="form-control" placeholder="Enter Id to Search"> <button routerLink="viewuser" routerLinkActive="active" class="btn btn-primary">Search</button> </div>
  </div>
</div>
</div>

<footer class="footer">

    <!-- Copyright -->
    <div class="container">© 20222 Copyright:
      <a href="#link"> okok.com</a>
    </div>
   
  
  </footer>